#pragma once

#if _WIN32
#ifdef {{ ProjectUpperSymbol }}_EXPORTS
#define {{ ProjectUpperSymbol }}_API __declspec(dllexport)
#else
#define {{ ProjectUpperSymbol }}_API __declspec(dllimport)
#endif
#else
#define {{ ProjectUpperSymbol }}_API
#endif // _WIN32