#include "{{ WindowClassName.lower() }}.h"
#include <QtWidgets/QApplication>

int main(int argc, char *argv[])
{
    QApplication a(argc, argv);
    {{ WindowClassName }} w;
    w.show();
    return a.exec();
}
